
/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.icon {
  /* border: 5px solid #f8f8f8; */
  width: 35px;
  margin-right: 10px;
  display: block;
}




/*
@keyframes rush-mon{
  0%{left:-400px; top:-200px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-tue{
  0%{left:-200px; top:-100px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-wed{
  0%{left:100px; top:-400px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-thurs{
  0%{left:-400px; top:600px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-fri{
  0%{left:300px; top:700px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sat{
  0%{left:100px; top:700px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sun{
  0%{left:135px; top:90px;}
 
  100%{left:0px; top:0px;}
}


@keyframes rush-mon7{
  0%{left:150px; top:60px;}
 
  100%{left:0px; top:0px;}
}


@keyframes rush-tue7{
  0%{left:140px; top:400px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-wed7{
  0%{left:700px; top:450px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-thurs7{
  0%{left:700px; top:300px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-fri7{
  0%{left:700px; top:200px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sat7{
  0%{left:700px; top:100px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sun7{
  0%{left:-400px; top:400px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-mon13{
  0%{left:-400px; top:250px;}
 
  100%{left:0px; top:0px;}
}


@keyframes rush-tue13{
  0%{left:120px; top:350px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-wed13{
  0%{left:30px; top:100px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-thurs13{
  0%{left:40px; top:600px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-fri13{
  0%{left:50px; top:700px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sat13{
  0%{left:60px; top:700px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sun13{
  0%{left:70px; top:700px;}
 
  100%{left:0px; top:0px;}
}



@keyframes rush-mon19{
  0%{left:80px; top:700px;}
 
  100%{left:0px; top:0px;}
}


@keyframes rush-tue19{
  0%{left:500px; top:-500px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-wed19{
  0%{left:-100px; top:500px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-thurs19{
  0%{left:-400px; top:300px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-fri19{
  0%{left:700px; top:200px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sat19{
  0%{left:600px; top:100px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sun19{
  0%{left:500px; top:500px;}
 
  100%{left:0px; top:0px;}
}


@keyframes rush-mon23{
  0%{left:400px; top:300px;}
 
  100%{left:0px; top:0px;}
}


@keyframes rush-tue23{
  0%{left:-300px; top:300px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-wed23{
  0%{left:300px; top:-400px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-thurs23{
  0%{left:300px; top:600px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-fri23{
  0%{left:100px; top:300px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sat23{
  0%{left:0px; top:300px;}
 
  100%{left:0px; top:0px;}
}

@keyframes rush-sun23{
  0%{left:-400px; top:600px;}
 
  100%{left:0px; top:0px;}
}
*/

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

.App{
  width: 100%;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}


.nav-left-container{
  text-decoration: none;
  /* border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-left: 15px;
  padding: 0px 5px; */
}

.clear-sch{
  background-color: lightcoral;
  height: 40px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 25px;
}

.week-selection{
  display: block;
  width: 150px;
  margin-left: 20px;
  margin-top: 5px;
  height: 30px;
  
}

.center-week{
  margin-top: 30px;
  color:white;
  display: inline-block;
}

.week-nav-wrap{
  vertical-align: top;
}

.autoGen{
  background-color: greenyellow;
  margin-top: 25px;
  display: block;
  height: 40px;
  margin-right: 15px;
  margin-left: 20px;
}

#next-week{
  color: white;
}

#prev-week{
  color: white;
}

.nav-mods{
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-left: 15px;
  padding: 0px 5px;
}
.nav-mods:hover{
  background-color:gold;
  color:red;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-deptname{
  text-align:center;
}

main {
  display: block;
  width: 100%;
  margin: 0 5px;
  margin-top: 1em;
  
}

.hp-main-container{
  vertical-align: top;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  /* width: 100%; */
  margin: 0 5px;
  margin-top: 1em;
  border: 1px solid blue;
}

.hp-left-container{
  display: inline-block;
  vertical-align: top;
  width:10%;
  border: 1px solid red;
  padding: 5px;
  margin-top: 0;
}

.hp-center-container{
  display: inline-block;
  width:70%;
  border: 1px solid black;
  padding: 5px;
}

.asso-card-wrapper{
  /* margin-left: 15px; */
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
  padding:5px;
  border: 2px solid grey;
  /* align-items: center; */
}



.show-emp{
  height:150px;
  width:120px;
  background-color:green;
  font-weight: bolder;
  font-size: 1.4em;

}

.showPage-container{
  padding-left: 20px;
}

.showPage-container ul{
  font-size: 1.3em;
  font-weight: bolder;
}

.hp-right-container{
  vertical-align: top;
  display: inline-block;
  width:20%;
  border: 1px solid green;
  padding: 5px;
}

.rsc-date{
  background-color: deepskyblue;
  margin:10px;
  color: black;
  padding:5px;
  font-weight: 1.3em;
  border: 1px solid darkblue;
}
.rsc-shift{
  /* background-color: deepskyblue; */
  margin:10px;
  color: black;
  padding:5px;
  font-weight: 1.3em;
  border: 1px solid darkblue;
  width: 50px;
}

.rsc-date-shift{
  margin:20px 10px;

}


/* MENU BAR */
.menu-bar{
  text-align: right;
  margin-right: 50px;
}

.sort-menu-bar{
  /* margin-left: 10px; */
  text-align: right;
  margin-top: 5px;
  color:black;
  
}

/* SCHEDULE SIDE BAR */


.add-new-team-button{
  background-color: lightgreen;
  height: 30px;
  width: 100%;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-edit{
  background-color: lightblue;
  color: black;
}

.btn-del{
  margin-left: 5px;
  color: white;
  background-color: red;
}

.room-title{
  
  font-weight: 500;
}

.schedule, .mod-side-container{
  vertical-align: top;
  width: 28%;
  overflow-y:auto;
  
  max-height: 750px;
  margin-left: 20px;
  padding: 5px;
  display: inline-block;
  border: 2px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form{
margin: 10px;
background-color: yellowgreen;
border: 2px solid;
}

form input, label, select{
  margin: 5px;
}

form label:nth-child(3){
  margin-left: 50px;
}

/* form input[type='submit'] .disabled{
  cursor: none;
} */

form input[type='submit']{
  text-align: center;
}

form input[type='submit']:enabled:hover{
  
  cursor: pointer;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.schedule-header{
  text-align: center;
  font-weight: 600;
  margin: 0;
  background-color: bisque;
  
}

.header-wrap{
  width: flex;
} 

.schedule-page{
  background-color: midnightblue;
  padding: 0 10px 10px 10px;
  margin-left: 15px;
  height: 100px;
}

#select-label{
  font-size: 0.8em;
  text-transform: none;
  padding-left: 27px;
  color: white;
}


.reservation{
  border: 2px solid bisque;
  margin: 2px 0;
  color: black;
  padding: 2px;
}
.mod-sch-date{
  margin: 0;
  height: 5px;
}


/* .mod-sch-header{
  text-align: center;
} */

.borg{
  margin-left: 15px;
  padding: 0 5px;
  border: 2px solid blue;
  background-color: lightblue;
}

.turing{
  margin-left: 15px;
  padding: 0 5px;
  border: 2px solid green;
  background-color: yellow;
}

.mod{
  border:2px solid blue;
  padding: 0 2px;
  font:bold;
  color:darkblue;
  margin-left: 5px;
}

.mod-1{
  background: yellow;
}

.mod-2{
  background:lime;
}

.mod-3{
  background: aqua;
}

.mod-4{
  background:lightblue;
}

.mod-5{
  background: rgb(219, 124, 224);
}

.mod-5{
  background: orange;
}

/* GRID */

.row {
  margin-bottom: 10px;
  
  /* margin-left:5px; */
  padding: 0;
  /* display:flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  width: 100%;
  
}

.row-days {
  margin-bottom: 10px;
  
  /* margin-left:5px; */
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 89%;
  
}

.rows {
  margin: 0;
  /* margin-left:5px; */
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border:1px solid grey;
  
}

.shift-container{
  vertical-align: top;

}




.emp-name{
  height: 50px;
  width: 145px;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  border: 2px solid blue;
  background-color: midnightblue;
  color: white;
}

.span-name{
  font-weight: bolder;
  font-size: 16px;
}

.emp-name:hover{
  cursor: pointer;
  transform: scaleX(1.04);
  transition: .10s ease-out;
}

.span-name:hover{
  color: lime;
  font-size: 18px;
  transition: .10s ease-out;
}

.edit-update-cancel-btn{
  height: 35px;
  margin: 10px;
  font-size: 1em;
  float: right;
  display: inline-block;
}

.alert-div{
  background-color: lightskyblue;
  display: inline;
  
}
.update-cancel-toolbar{
  float: right;
}

.shift{
  height: 50px;
  width: 120px;
  padding: 5px;
  font-size: .9em;
  display: inline-block;
  /* vertical-align: middle; */
  text-align: center;
  margin-right: 5px;
  border: 2px solid blue;
  transition: transform .2s ease-out;
}

.shift::before,
.shift::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.shift::before {
    border-width: .7em;
    border-right-color: #ccc;
    border-top-color: #ccc;
}

.shift::after {
    border-radius: 0.09em;
    border-width: .5em;
    border-right-color: grey;
    border-top-color: grey;
}

.shift:hover::after {
  border-radius: 0.09em;
  border-width: .5em;
  border-right-color:lightgray;
  border-top-color: lightgrey;
}


.not-available{
  background-color: lightskyblue;
  font-weight: bolder;
}

.Mon1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-mon;
  animation-duration: 1s;
}

.Tue1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-tue;
  animation-duration: 2s;
}

.Wed1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-wed;
  animation-duration: 1s;
}

.Thu1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-thurs;
  animation-duration: 1s;
}

.Fri1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-fri;
  animation-duration: 1s;
}

.Sat1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-sat;
  animation-duration: 1s;
}

.Sun1, .day-off-1, .na{
  position: absolute;
  animation-name: rush-sun;
  animation-duration: 1s;
}

.Mon7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-mon7;
  animation-duration: 1s;
}

.Tue7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-tue7;
  animation-duration: 2s;
}

.Wed7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-wed7;
  animation-duration: 1s;
}

.Thu7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-thurs7;
  animation-duration: 1s;
}

.Fri7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-fri7;
  animation-duration: 1s;
}

.Sat7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-sat7;
  animation-duration: 1s;
}

.Sun7, .day-off-7, .na{
  position: absolute;
  animation-name: rush-sun7;
  animation-duration: 1s;
}

.Mon13, .day-off-13, .na{
  position: absolute;
  animation-name: rush-mon13;
  animation-duration: 1s;
}

.Tue13, .day-off-13, .na{
  position: absolute;
  animation-name: rush-tue13;
  animation-duration: 2s;
}

.Wed13, .day-off-13, .na{
  position: absolute;
  animation-name: rush-wed13;
  animation-duration: 1s;
}

.Thu13, .day-off-13, .na{
  position: absolute;
  animation-name: rush-thurs13;
  animation-duration: 1s;
}

.Fri13, .day-off-13, .na{
  position: absolute;
  animation-name: rush-fri13;
  animation-duration: 1s;
}

.Sat13, .day-off-13, .na{
  position: absolute;
  animation-name: rush-sat13;
  animation-duration: 1s;
}

.Sun13, .day-off-13, .na, .na{
  position: absolute;
  animation-name: rush-sun13;
  animation-duration: 1s;
}

.Mon19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-mon19;
  animation-duration: 1s;
}

.Tue19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-tue19;
  animation-duration: 2s;
}

.Wed19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-wed19;
  animation-duration: 1s;
}

.Thu19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-thurs19;
  animation-duration: 1s;
}

.Fri19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-fri19;
  animation-duration: 1s;
}

.Sat19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-sat19;
  animation-duration: 1s;
}

.Sun19, .day-off-19, .na, .na{
  position: absolute;
  animation-name: rush-sun19;
  animation-duration: 1s;
}


.Mon23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-mon23;
  animation-duration: 1s;
}

.Tue23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-tue23;
  animation-duration: 2s;
}

.Wed23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-wed23;
  animation-duration: 1s;
}

.Thu23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-thurs23;
  animation-duration: 1s;
}

.Fri23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-fri23;
  animation-duration: 1s;
}

.Sat23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-sat23;
  animation-duration: 1s;
}

.Sun23, .day-off-23, .na, .na{
  position: absolute;
  animation-name: rush-sun23;
  animation-duration: 1s;
}


/* .shift:not(.day-off){
  cursor: pointer;
} */

div[draggable='true']{
  cursor: pointer;
}

div[draggable='true']:hover{
  z-index: 2;
  transform: scale(1.08);
  /* transform: scale(1.1); */
  box-shadow:5px 5px 10px rgba(0,0,0,0.5);
  /* box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.open{
  background-color: lightgreen;
  color:black;
  font-weight: bolder;
}

.mid{
  background-color: yellow;
  color: black;
  font-weight: bolder;
}

.closed{
  background-color:black;
  color: white;
  font-weight: bolder;
}

.day-off{
 background-color:red;
 color:white;
 font-weight: bolder;
}

.name-header{
  width: 120px;
  margin-left: 10px;
  padding-left: 30px;
  /* margin-bottom: 20px; */
}

.emp-name div:first-child{
  height:40px;
  border: none;
}

.side-container{
  width:29%;
  max-height:600px;
    border:2px solid blue; 
    display:inline-block;
    vertical-align:top;
    height:500px;
    font-weight: bolder;
    padding: 10px;
    margin-left: 5px;
}

.animate-div{
  height: 50px;
  width: 120px;
  z-index: 4;
  animation-name: rush;
  animation-duration: 5s;
  position: relative;
  background-color: yellow;
}

.roaster-shift{
  margin-bottom: 20px;
}

.rsc-date-shift span:first-child{
  display: inline-block;
  width: 150px;
}

.roaster-shift span{
  width:120px;
  margin: 10px;
  font-weight: bolder;
  font-size: 1.3em;
  display: inline-block;
}

.side-container span{
  font-weight: 2em;
}

/* .side-container div{
  height: 60px;
  width:70px;
  background-color: yellow;
  border: 2px solid orange;
  margin: 10px;
  display: inline-block;
} */

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.cols {
  flex-grow: 3;
  flex-basis: 0;
  max-width: 100%;
  border-right: 1px solid grey;
}

.col-start {
  /* justify-content: flex-start; */
  /* text-align: left; */
  display: inline-block;
}

.col-center {
  justify-content: center;
  text-align: center;
  font-weight:bolder;

}

.col-end {
  /* justify-content: flex-end; */
  /* text-align: right; */
  /* margin-top: 35px; */
  display: inline-block;
}


/* .col-starts {
  justify-content: flex-start;
  text-align: left;
} */

.col-centers {
  justify-content: center;
  text-align: center;
}

.col-ends {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar{
  
  display: inline-block;
  position: relative;
  width: 70%;
  /* max-height: 750px; */
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendars{
  display: inline-block;
  position: relative;
  width: 100%;
  /* max-height: 750px; */
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login{
  position:fixed;
  top:50%;
  left: 50%;
  height: 50em;
  width: 25em;
  margin-top: -8em;
  margin-left: -15em;
}

.login form label{
  margin-left: 50px;
  /* width: 20px; */
  margin-top: 10px;
}


.login form input{
  margin-left: 15px;
  margin-top: 10px;
}

.copy-paste{
  vertical-align: top;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.copy, .paste{
  display: inline-block;
  /* float: right; */
  background-color: midnightblue;
  margin:5px;
}

.stage-wrapper{
  text-align: center;
}

.shifts-stage{
  border: 2px solid red;
  width: 500px;
  height: 200px;
  display: inline-block;
}

.calendar .header {
  font-weight: 700;
  font-size: 115%;
  color:black;
  padding: .8em 0;
  border-bottom: 1px solid var(--border-color);
  
}

.calendars .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  color:black;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
  
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 2em;
}

.calendar .header .icon:last-of-type {
  margin-right: 2em;
}

.calendar .days {
  text-transform: uppercase;
  float: right;
  font-weight: 400;
  color: gray;
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendars .days {
  text-transform: uppercase;
  float: right;
  font-weight: 400;
  color: black;
  font-size: 70%;
  padding: .75em 0;
  border-right: 1px solid var(--border-color);
}

.calendars .body .cells {
  position: relative;
  height: 7.8em;
  border-right: 1px solid grey;
  /* border-bottom: 1px solid var(--border-color); */
  overflow: hidden;
  /* cursor: pointer; */
  background: var(--neutral-color);
  /* transition: 0.25s ease-out; */
}

/* .calendar .body .cell {
  position: relative;
  height: 6em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  /* cursor: pointer; *
  background: var(--neutral-color);
  transition: 0.25s ease-out;
} */

.heading-center-container{
  padding: 0;
  background-image: linear-gradient(-40deg, blue, yellow);
}

.heading-center-container h2{
  /* box-shadow: 0px 0px 5px 10px grey; */
  padding-left: 15px;
  margin-top: 0;
}

/* .calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
} */

.calendars .body .selected {
  border: 10px solid green;
  /* border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%); */
  /* border-image-slice: 1; */
}

/* .calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
} */

/* .calendar .body .cell:last-child {
  border-right: none;
} */

.calendars .body .cells .number {
  font-weight: 700;
  position: absolute;
  font-size: 1em;
  line-height: 1;
  top:3em;
  right: 3.5em;
  /* transition: .25s ease-out;  */
  letter-spacing: -.07em;
} 

.calendars .body .selected .number {
  font-weight: 900;
  position: absolute;
  font-size: 2.2em;
  line-height: 1;
  text-align: center;
  vertical-align: middle; 
  top: .50em;
  right: 1.2em;
  /* transition: .35s ease-out; */
}
/* 
.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
} */

/* .calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em; 
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
} */

.availability{
  margin: 5px 5px;
}


.showpage-header{
  text-align: center;
}

.showpage-details{
  margin-top: 10px;
  vertical-align: top;
  background-color: lightyellow;
  padding:10px;
}
.showpage-availability{
  display: inline-block;
}

.showpage-details h3{
  border: 1px solid yellowgreen;
  text-align: center;

}

.wages-benefits{
  display: inline-block;
  float: right;
}

/* .calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .10s ease-in;
} */

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.calendars .body .cols {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}