
/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.icon {
  /* border: 5px solid #f8f8f8; */
  width: 35px;
  margin-right: 10px;
  display: block;
}



@keyframes swing {
  0% { transform: rotate(4deg); }
  100% { transform: rotate(-4deg); }
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


/* GENERAL */

* {
  box-sizing: border-box;
}

.App{
  width: 100%;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
    position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

headers {
  display: block;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: darkred;
  line-height: 1;
}

.nav-mods{
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black;
  margin-left: 15px;
  padding: 0px 5px;
}
.nav-mods:hover{
  background-color:gold;
  color:red;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-deptname{
  text-align:center;
}

main {
  display: block;
  width: 100%;
  margin: 0 5px;
  margin-top: 1em;
  
}

.hp-main-container{
  vertical-align: top;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  /* width: 100%; */
  margin: 0 5px;
  margin-top: 1em;
  border: 1px solid blue;
}

.hp-left-container{
  display: inline-block;
  vertical-align: top;
  width:10%;
  border: 1px solid red;
  padding: 5px;
  margin-top: 0;
}

.hp-center-container{
  display: inline-block;
  width:70%;
  border: 1px solid black;
  padding: 5px;
}

.asso-card-wrapper{
  /* margin-left: 15px; */
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
  padding:5px;
  border: 2px solid grey;
  /* align-items: center; */
}
.associate-card{
  height: 150px;
  width: 110px;
  background-color: blue;
}

.ass-avatar{
  background-image: url('./img/male.png');
}

.hp-right-container{
  vertical-align: top;
  display: inline-block;
  width:20%;
  border: 1px solid green;
  padding: 5px;
}

.rsc-date{
  background-color: deepskyblue;
  margin:10px;
  color: black;
  padding:5px;
  font-weight: 1.3em;
  border: 1px solid darkblue;
}
.rsc-shift{
  /* background-color: deepskyblue; */
  margin:10px;
  color: black;
  padding:5px;
  font-weight: 1.3em;
  border: 1px solid darkblue;
  width: 50px;
}

.rsc-date-shift{
  margin:20px 10px;

}

/* MENU BAR */
.menu-bar{
  text-align: right;
  margin-right: 50px;
}

.sort-menu-bar{
  /* margin-left: 10px; */
  text-align: right;
  margin-top: 5px;
  color:black;
  
}

/* SCHEDULE SIDE BAR */

.lecture-room{
  border-bottom: 2px solid gray;
}



.add-new-team-button{
  background-color: lightgreen;
  height: 30px;
  width: 100%;
}

button:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-edit{
  background-color: lightblue;
  color: black;
}

.btn-del{
  margin-left: 5px;
  color: white;
  background-color: red;
}

.room-title{
  
  font-weight: 500;
}

.schedule, .mod-side-container{
  vertical-align: top;
  width: 28%;
  overflow-y:auto;
  
  max-height: 750px;
  margin-left: 20px;
  padding: 5px;
  display: inline-block;
  border: 2px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form{
margin: 10px;
background-color: yellowgreen;
border: 2px solid;
}

form input, label, select{
  margin: 5px;
}

form label:nth-child(3){
  margin-left: 50px;
}

/* form input[type='submit'] .disabled{
  cursor: none;
} */

form input[type='submit']{
  text-align: center;
}

form input[type='submit']:enabled:hover{
  
  cursor: pointer;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.schedule-header{
  text-align: center;
  font-weight: 600;
  margin: 0;
  background-color: bisque;
  
}

.reservation{
  border: 2px solid bisque;
  margin: 2px 0;
  color: black;
  padding: 2px;
}
.mod-sch-date{
  margin: 0;
  height: 5px;
}


/* .mod-sch-header{
  text-align: center;
} */

.borg{
  margin-left: 15px;
  padding: 0 5px;
  border: 2px solid blue;
  background-color: lightblue;
}

.turing{
  margin-left: 15px;
  padding: 0 5px;
  border: 2px solid green;
  background-color: yellow;
}

.mod{
  border:2px solid blue;
  padding: 0 2px;
  font:bold;
  color:darkblue;
  margin-left: 5px;
}

.mod-1{
  background: yellow;
}

.mod-2{
  background:lime;
}

.mod-3{
  background: aqua;
}

.mod-4{
  background:lightblue;
}

.mod-5{
  background: rgb(219, 124, 224);
}

.mod-5{
  background: orange;
}

/* GRID */

.row {
  margin-bottom: 10px;
  /* margin-left:5px; */
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  
}

.rows {
  margin: 0;
  /* margin-left:5px; */
  padding: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border:1px solid grey;
  
}

.shift-container{
  vertical-align: top;

}




.emp-name{
  height: 50px;
  width: 120px;
  /* margin-top: 12px; */
  /* margin: 10px 0px; */
  text-align: center;
  display: inline-block;
  border: 2px solid blue;
}

.shift{
  height: 50px;
  width: 120px;
  padding:0;
  font-size: .9em;
  /* margin-top: 10px; */
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  border: 2px solid blue;
}

.open{
  background-color: lightgreen;
}

.mid{
  background-color: yellow;
}

.close{
  background-color:lightgrey;
}

.day-off{
 background-color:lightcoral;
}

.name-header{
  width: 120px;
  /* margin-bottom: 20px; */
}

.emp-name div:first-child{
  height:40px;
  border: none;
}

.side-container{
  width:28%;
  max-height:600px;
    border:2px solid red; 
    display:inline-block;
    vertical-align:top;
    height:500px;
}

/* .side-container div{
  height: 60px;
  width:70px;
  background-color: yellow;
  border: 2px solid orange;
  margin: 10px;
  display: inline-block;
} */

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
.cols {
  flex-grow: 3;
  flex-basis: 0;
  max-width: 100%;
  border-right: 1px solid grey;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* .col-starts {
  justify-content: flex-start;
  text-align: left;
} */

.col-centers {
  justify-content: center;
  text-align: center;
}

.col-ends {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar{
  display: inline-block;
  position: relative;
  width: 70%;
  /* max-height: 750px; */
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calendars{
  display: inline-block;
  position: relative;
  width: 100%;
  /* max-height: 750px; */
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* .January{
  background-image: url(https://getflywheel.com/wp-content/uploads/2015/01/largegiffeature.gif)
}

.February{
  background-image: url(http://cur.glitter-graphics.net/pub/2926/2926044swemslxwu6.gif)
}
.March{
  background-image: url(https://www.google.com/logos/doodles/2017/grandfathers-day-2017-poland-5673656096129024-hp.gif)
}

.April{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9fP_IuqaVLj658A5MRQXbkeqVszq6V9wceJyoFbRq0BmvF362GQ)
} */

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  color:black;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
  
}

.calendars .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  color:black;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
  
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  float: right;
  font-weight: 400;
  color: gray;
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendars .days {
  text-transform: uppercase;
  float: right;
  font-weight: 400;
  color: black;
  font-size: 70%;
  padding: .75em 0;
  border-right: 1px solid var(--border-color);
}

.calendars .body .cells {
  position: relative;
  height: 7.8em;
  border-right: 1px solid grey;
  /* border-bottom: 1px solid var(--border-color); */
  overflow: hidden;
  /* cursor: pointer; */
  background: var(--neutral-color);
  /* transition: 0.25s ease-out; */
}

.calendar .body .cell {
  position: relative;
  height: 6em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  /* cursor: pointer; */
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.heading-center-container{
  padding: 0;
  background-image: linear-gradient(-40deg, blue, yellow);
}

.heading-center-container h2{
  /* box-shadow: 0px 0px 5px 10px grey; */
  padding-left: 15px;
  margin-top: 0;
}

/* .calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
} */

.calendars .body .selected {
  border: 10px solid green;
  /* border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%); */
  /* border-image-slice: 1; */
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

/* .calendar .body .cell:last-child {
  border-right: none;
} */

.calendars .body .cells .number {
  font-weight: 700;
  position: absolute;
  font-size: 1em;
  line-height: 1;
  top:3em;
  right: 3.5em;
  /* transition: .25s ease-out;  */
  letter-spacing: -.07em;
} 

.calendars .body .selected .number {
  font-weight: 900;
  position: absolute;
  font-size: 2.2em;
  line-height: 1;
  text-align: center;
  vertical-align: middle; 
  top: .50em;
  right: 1.2em;
  /* transition: .35s ease-out; */
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em; 
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

/* .calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .10s ease-in;
} */

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.calendars .body .cols {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}